{{ define "main" }}
<div class="welcome resume">
  {{ with resources.Get "images/bernardo.png" }}
  <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="left" alt="Bernardo Farah" />
  {{ end }}
  {{ .Content }}
</div>

<div class="body"><div>
  <ul id="posts">
    <h4>Posts</h4>
    {{ range first 3 (where .Site.RegularPages "Type" "posts") }}
    {{ if .Params.href }}
      <li><a href="{{ .Params.href }}" target="_blank">
        <h5>{{ .Title }}<i class="icon icon-external-link"></i><small>{{ .Date.Format "January 2006" }}</small></h5>
      </a></li>
    {{ else }}
      <li><a href="{{ .RelPermalink }}">
        <h5>{{ .Title }}<small>{{ .PublishDate.Format "January 2006" }}</small></h5>
      </a></li>
    {{ end }}
    {{ end }}
  </ul>

  <ul id="projects">
    <h4>Projects</h4>
    {{ range first 3 (where .Site.RegularPages "Type" "projects") }}
      <li><a href="{{ .Params.href }}" target="_blank">
        <h5>{{ .Title }}<small>{{ .Description }}</small></h5>
      </a></li>
    {{ end }}
  </ul>
</div></div>
{{ end }}
