body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;

  .accent {
    color: var(--color-accent);
  }
}

span.block {
  display: inline-block;
}

h1 {
  font-size: modular-scale(3);
  font-weight: 500;
}

h2 {
  font-size: modular-scale(2);
  font-weight: 500;
}

h3 {
  font-size: modular-scale(1);
}

h4, h5, h6 {
  font-weight: 900;
}

h4 {
  text-transform: uppercase;
  letter-spacing: .1em;
}

h6 {
  color: var(--color-text-muted);
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: var(--color-action);
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:visited {
    color: var(--color-action);
  }

  &:active,
  &:focus,
  &:hover {
    color: var(--color-action-hover);
  }
}

hr {
  border-bottom: 1px solid var(--color-border);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

tt, code, kbd, samp, pre {
  font-family: $monospace;
  font-size: 0.75em;
}

sup, sub {
  font-size: 0.75em;
}
