.welcome
  = image_tag "/images/bernardo.png", class: "left"
  h2
    ' Hi, I am
    strong Bernardo Farah
    '  - a mix of Swiss and Brazilian, a
    strong developer,
    '  an
    strong amateur composer,
    '  and a
    strong tech enthusiast

.body: div
  ul
    h4 Posts
    - blog.articles[0..3].each do |article|
      - if url = article.metadata[:page]["href"]
        li = link_to url, target: :_blank
          h5
            = article.title
            i.icon.icon-external-link
            small
              = article.date.strftime("%B %Y")
      - else
        li = link_to article.path, relative: true
          h5
            = article.title
            small = article.date.strftime("%B %Y")
  ul
    h4 Projects
    - data.projects.first(3).each do |project|
      li = link_to project.url, target: :_blank
        h5
          = project.name
          small = project.description
